                    <div class="faq-header">Frequently Asked Questions</div>

                    <div class="faq-content">
                        <div class="faq-question">
                            <input id="q1" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q1" class="panel-title">Why is Dr. Brite different than other brands?</label>
                            <div class="panel-content">Dr. Brite was founded and created by a dentist and a medical doctor: Dr. Pooneh Ramezani and Dr. Paris Sabo. Dr.
                                 Sabo and Dr. Ramezani fused their years of medical knowledge with the latest in natural ingredient research to help craft Dr. 
                                 Brite's safe and effective oral care and cleaning essential products.</div>
                        </div>

                        <div class="faq-question">
                            <input id="q2" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q2" class="panel-title">How much does shipping cost?</label>
                            <div class="panel-content">Any order over $99 shipped within the contiguous US will receive free shipping.
                                                       All other shipping costs are based off the products weight.</div>
                        </div>

                        <div class="faq-question">
                            <input id="q3" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q3" class="panel-title">When will my order be processed?</label>
                            <div class="panel-content">All orders are processed within 1 business day after the order is placed.

Orders placed on a weekend or holiday will be processed within 1 to 3 business days, Monday through Friday.

Subscription orders will be processed on the frequency selected at the time the subscription was established. </div>
                        </div>
                        
                        <div class="faq-question">
                            <input id="q4" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q4" class="panel-title">Does Dr. Brite whitening products cause sensitivity?</label>
                            <div class="panel-content">ALL Dr. Brite whitening products are formulated by dentists. It will not cause sensitivity in your teeth and it is safe to use on a daily basis.</div>
                        </div>

                        <div class="faq-question">
                            <input id="q5" type="checkbox" class="panel">
                            <div class="plus">+</div>
                            <label for="q5" class="panel-title">When will I see results?</label>
                            <div class="panel-content">Most will see results after their first use.</div>
                        </div>
                        
         

                    </div>